/* 在样式文件中设置Canvas容器的样式 */
#Cocos3dGameContainer {
  width: 220px; /* 设置容器宽度 */
  height: 100px; /* 设置容器高度 */
  margin: 0 auto; /* 使用margin属性来实现水平居中布局 */
  position: relative; /* 设置相对定位，用于绝对定位内部元素 */
}

/* 设置Canvas的样式 */
#GameCanvas {
  width: 220px; /* 设置Canvas宽度为容器宽度 */
  height: 100px; /* 设置Canvas高度为容器高度 */
  position: absolute; /* 设置Canvas绝对定位，填充容器 */
  top: 0; /* 顶部对齐 */
  left: 0; /* 左侧对齐 */
}